[Desktop Entry]
Name=Riskio
Comment=
X-KDE-PluginInfo-Author=Rischio Cinico
X-KDE-PluginInfo-Email=rischiocinico@bastardi.net
X-KDE-PluginInfo-Version=0
